<html>
  <head>
  </head>
  <body>
    <%= @@ciphered %>
    <form>
      <p>String to cipher</p>
      <input type='text' name='string' />
      <p>Shift</p>
      <input type='text' name='shift' />
      <input type='submit' value='Cipher!' />
    </form>
  </body>
</html>
